attr
attrs
cffi
ConfigParser
contextlib2
cryptography
Cython
dl
docutils
HTMLParser
importlib_metadata
ipython
ipywidgets
Jinja2
keyring
lockfile
mock
numpy
ordereddict
pandas
Pillow
protobuf
pyopenssl
python_bcrypt
railroad
Scrapy
Sphinx
tornado
tqdm
urllib3_secure_extra
Twisted
python-dotenv
psycopg2
